
@{
    ViewBag.Title = "KullaniciHata";
    Layout = "~/Views/Shared/YoneticiLayout.cshtml";
}

<div class="container">
    <div class="justify-content-xl-center">
        <br />
        <br />
        <h1>Bu kullanıcı maili ile daha önce kayıt olunmuştur!</h1>
        <br />
        <br />
        <br />
        <a href="/Kullanicilar/KullaniciEkle" class="btn btn-success">Tekrar Deneyin</a></td>
    </div>
</div>
<td>


