@using TakipSistemi.Models.Siniflar
@model List<Kullanici>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-bordered" style="margin-top:29px">
    <th>ID</th>
    <th>Ad</th>
    <th>Soyad</th>
    <th>Mail</th>
    <th>Parola</th>
    <th>Yetki<th>
</table>