
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<body style="background-color: #666666;">

    <div class="limiter">
        <div class="container-login100">

            <div class="wrap-login100">


               


              

                    <div class="login100-form validate-form">
                        <span style="color:red;" class="login100-form-title p-b-43">
                            <br />  <br />  <br />  <br />  <br />  <br />  <br />
                            Kullanıcı Adı veya Parolanız Hatalı...
                        </span>

                       




                        <div class="container-login100-form-btn">
                           
                            <a href="@Url.Action("Index","Login")" class="login100-form-btn">Tekarar Giriş Yapın</a>
                        </div>



                    </div>
                <div class="login100-more" style="background-image: url('/Aydem.jpg');">
                </div>
            </div>
        </div>






</body>
